<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Réinitialisation du Mot de passe </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body { padding-top: 50px; }
    .container { text-align: center; }
    .jumbotron { background-color: #89CFF0; }
  </style>
</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <h1>Votre mot de passe a bien été réinitialisé !</h1>
      <h2>Votre nouveau mot de passe vous a été envoyé par mail.</h2>
    </div>
  </div>
    
</body>
</html>